<!-- <mat-step [stepControl]="raceFG" > -->
    <div class="step-container-window">
        <div class="step-main-window">
            <form [formGroup]="raceFG">
            <ng-template matStepLabel>Choose your race</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Race</mat-label>
                <mat-select formControlName="race" 
                            class="form-control" 
                            [(value)]="selectedRace" 
                            (selectionChange)="getRaceDetails($event)" 
                            required>
                    <mat-option *ngFor="let race of races" [value]="race">{{ race.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="selectedRace.ability_bonus_options?.choose">
                <div *ngFor="let in of counter(selectedRace.ability_bonus_options.choose); index as i"> 
                    <div formArrayName="raceAbilityOptions">                           
                        <mat-form-field appearance="fill">
                            <mat-label>Ability Bonus {{ i + 1 }}</mat-label>
                            <mat-select [formControlName]="i"  class="form-control">
                                <mat-option *ngFor="let abbonus of selectedRace.ability_bonus_options.from" [value]="abbonus">
                                    +{{ abbonus.bonus }} {{ abbonus.ability_score.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                </div>                                            
            </div>
            <div *ngIf="selectedRace.starting_proficiency_options?.choose">
                <div *ngFor="let in of counter(selectedRace.starting_proficiency_options.choose); index as i"> 
                    <div formArrayName="raceSkillOptions">                           
                        <mat-form-field appearance="fill">
                            <mat-label>Skill Choice</mat-label>
                            <mat-select [formControlName]="i"  class="form-control">
                                <mat-option *ngFor="let profoption of selectedRace.starting_proficiency_options.from" [value]="profoption.name | stripSkill">
                                    {{ profoption.name | stripSkill }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                </div>                                             
            </div>
            <div *ngIf="subraces.length">
                <div>Choose a subrace:</div>                     
                <mat-form-field appearance="fill">
                    <mat-label>Subrace</mat-label>
                    <mat-select formControlName="subrace" 
                                class="form-control"  
                                [(value)]="selectedSubrace"  
                                (selectionChange)="getSubraceDetails()">
                        <mat-option *ngFor="let subrace of subraces" [value]="subrace">
                            {{ subrace.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                                         
            </div>
            <div *ngIf="selectedSubrace?.language_options?.choose">                
                <mat-form-field appearance="fill">
                    <mat-label>Language Choice</mat-label>
                    <mat-select formControlName="subraceLanguage"  class="form-control">
                        <mat-option *ngFor="let language of selectedSubrace?.language_options?.from" [value]="language.name">
                            {{ language.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>      
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </div>
        <div class="step-detail-window">
            <div *ngIf="selectedRace.name">
                <table class='step-table'>
                    <tr *ngIf="selectedRace.ability_bonuses.length">
                        <th class='step-table-row-header'>Ability Bonus{{ selectedRace.ability_bonuses.length > 1 ? 'es' : '' }}</th>
                        <td class='step-table-row'> 
                            <span *ngFor="let ability_bonus of selectedRace?.ability_bonuses; last as isLast">
                                +{{ ability_bonus.bonus }} {{ ability_bonus.ability_score.name }}{{ isLast ? '' : ', ' }}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="selectedRace.ability_bonus_options">
                        <th class='step-table-row-header'>Ability Bonus Options</th>
                        <td class='step-table-row'> 
                            Choose {{ selectedRace.ability_bonus_options.choose}} from: 
                            <span *ngFor="let ability_bonus of selectedRace?.ability_bonus_options?.from; last as isLast">
                                +{{ ability_bonus.bonus }} {{ ability_bonus.ability_score.name }}{{ isLast ? '' : ', ' }}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="selectedSubrace?.ability_bonuses?.length">
                        <th class='step-table-row-header'>Subrace Bonus</th>
                        <td class='step-table-row'> 
                            <span *ngFor="let ability_bonus of selectedSubrace?.ability_bonuses">
                                +{{ ability_bonus.bonus }} {{ ability_bonus.ability_score.name }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class='step-table-row-header'>Speed</th>
                        <td class='step-table-row'> {{ selectedRace.speed }}</td>
                    </tr>
                    <tr>
                        <th class='step-table-row-header'>Size</th>
                        <td class='step-table-row'> {{ selectedRace.size }}. {{ selectedRace.size_description }}</td>
                    </tr>
                    <tr *ngIf="selectedRace.traits.length">
                        <th class='step-table-row-header'>Traits</th>
                        <td class='step-table-row'> 
                            <span *ngFor="let trait of selectedRace.traits; last as isLast" 
                                    (click)="getTraitDetails(trait.index)">
                                <span class="clickable">{{ trait.name }}</span>{{isLast?'':', '}}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="selectedSubrace?.racial_traits?.length">
                        <th class='step-table-row-header'>Subrace Traits</th>
                        <td class='step-table-row'> 
                            <span *ngFor="let trait of selectedSubrace.racial_traits; last as isLast" 
                                    (click)="getTraitDetails(trait.index)">
                                <span class="clickable">{{ trait.name }}</span>{{isLast?'':', '}}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="selectedRace.starting_proficiencies.length">
                        <th class='step-table-row-header'>Starting Proficiencies</th>
                        <td class='step-table-row'> 
                            <span *ngFor="let proficiency of selectedRace.starting_proficiencies; last as isLast">
                                <span *ngIf="proficiency.index.startsWith('skill')">
                                    <span class="clickable" (click)="getSkillDetails(proficiency.index.substring(6))">{{ proficiency.name | stripSkill }}</span>{{isLast?'':', '}}
                                </span>
                                <span *ngIf="!proficiency.index.startsWith('skill')">
                                    {{ proficiency.name | stripSkill }}{{ isLast ? '' : ', ' }}
                                </span>                                
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="selectedRace.starting_proficiency_options">
                        <th class='step-table-row-header'>Skill Choices</th>
                        <td class='step-table-row'> 
                            <h5>Choice of {{ selectedRace.starting_proficiency_options.choose }}:</h5>
                            <span *ngFor="let option of selectedRace.starting_proficiency_options.from; last as isLast">
                                {{ option.name | stripSkill }}{{ isLast ? '' : ', ' }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class='step-table-row-header'>Alignment</th>
                        <td class='step-table-row'> {{ selectedRace.alignment }}</td>
                    </tr>
                    <tr>
                        <th class='step-table-row-header'>Age</th>
                        <td class='step-table-row'> {{ selectedRace.age }}</td>
                    </tr>               
                    <tr>
                        <th class='step-table-row-header'>Languages</th>
                        <td class='step-table-row'> 
                            <span *ngFor="let language of selectedRace.languages; last as isLast" 
                                (click)="getLanguageDetails(language.index)">
                                <span class="clickable">{{ language.name }}</span>{{ isLast ? '' : ', ' }}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="selectedSubrace?.language_options?.choose">
                        <th class='step-table-row-header'>Subrace Languages</th>
                        <td class='step-table-row'> 
                            <h5>Choice of {{ selectedSubrace.language_options.choose }}:</h5>
                            <span *ngFor="let language of selectedSubrace?.language_options?.from; last as isLast"
                                (click)="getLanguageDetails(language.index)">
                                <span class="clickable">{{ language.name }}</span>{{ isLast ? '' : ', ' }}
                            </span>
                        </td>
                    </tr>                        
                </table>
            </div>
        </div>
    </div>
<!-- </mat-step> -->